.appWrapper {

    background-color: lightgray;
}

.vistasWrapper > .ui.items > .item {

    width: initial;
    margin: 15px;
    padding: 10px 15px;
    background-color: white;
}

.ui.oscuro.secondary.inverted.menu {
    background-color: #343434;
}

.iniciarBtn {

    background-color: #7ba1bd !important;
}

.registrarseBtn {

    background-color: #549254 !important;
}

.iniciarBtn:hover, .registrarseBtn:hover {

    background-color: rgba(200, 200, 200, 1) !important;
}
