body {
  font-size: 16px;
  background-color: #ebebeb;
  color: #414141;
}
.blog-post-list {
  list-style-type: none;
}
.blog-post-list .blog-post-link {
  margin: 0.5em 0 1em 0;
  padding: 0 0 0.25em 0;
  border-bottom: 1px solid #ddd;
}
.blog-post .blog-post-header h1 {
  font-family: 'Raleway';
}
.comments .comments-list {
  list-style-type: none;
}
.comments .comments-list .comment-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
}
.comments .comments-list .comment-item .comment-author {
  font-family: 'Raleway';
  font-weight: bold;
}
.comments .comments-list .comment-item .comment-body {
  font-style: italic;
}
/* Red */
/* Green * /
$bgDefault      : #2ecc71;
$bgHighlight    : #27ae60;
$colDefault     : #ecf0f1;
$colHover       : #d1ffed; /*/
/* Purple * /
$bgDefault      : #9b59b6;
$bgHighlight    : #8e44ad;
$colDefault     : #ecf0f1;
$colHover       : #ecdbff; /*/
/* Orange * /
$bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;dbdbdb
$colHover       : #ffe6d1; /*/
/* --- Style --- */
.navbar-default {
  background-color: #abd2f3;
  border-color: #c3c2c2;
}
.navbar-default .navbar-brand {
  color: #002056;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #002056;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-default .navbar-nav .active > a,
.navbar-default .navbar-nav .active > a:hover,
.navbar-default .navbar-nav .active > a:focus {
  color: #fff;
  background-color: #002056;
}
.navbar-default .navbar-nav .open > a,
.navbar-default .navbar-nav .open > a:hover,
.navbar-default .navbar-nav .open > a:focus {
  color: #fff;
  background-color: #002056;
}
.navbar-default .navbar-nav .open > a .caret,
.navbar-default .navbar-nav .open > a:hover .caret,
.navbar-default .navbar-nav .open > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #002056;
  border-bottom-color: #002056;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-default .navbar-toggle {
  border-color: #002056;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #002056;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #002056;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #002056;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #002056;
  }
}
.panel {
  border-width: 1px;
  border-color: #dbdbdb;
  border-radius: 0px;
  padding: 0px;
  margin-bottom: 15px;
}
.panel-editar {
  margin: 0px;
  text-align: center;
}
.panel-icono {
  margin: 0px;
  background-color: #abd2f3;
  border-color: #dbdbdb;
  text-align: center;
  color: #fff;
}
a:link {
  text-decoration: none;
  color: #414141;
}
.modal {
  margin-top: 20px;
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 250px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #abd2f3;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #002056;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #002056;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #002056;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: #002056;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
}
.new-modelLine {
  font-size: 25px;
  color: #414141;
}
.model-line {
  border: 1px solid #7c9eb2;
  background-color: #f8faff;
  padding: 10px;
  margin-right: 30px;
  line-height: 30px;
}
.cle-obligatoriobtn {
  background-color: #d7f7d1;
  border: 1px solid #a0e594;
}
.cle-obligatorio {
  background-color: #d7f7d1;
  padding: 4px;
  border: 1px solid #a0e594;
  cursor: pointer;
}
.cle-blanco-head {
  background-color: #fff;
  color: #272727;
}
.cle-obligatorio-head {
  background-color: #d7f7d1;
  color: #272727;
}
.cle-seleccion-head {
  background-color: #dec8fc;
  color: #272727;
}
.cle-opcional-head {
  background-color: #fbdfc6;
  color: #272727;
}
.cle-seleccionbtn {
  background-color: #dec8fc;
  border: 1px solid #c89eff;
}
.cle-seleccion {
  background-color: #dec8fc;
  padding: 4px;
  margin: 4px;
  border: 1px solid #c89eff;
}
.cle-opcionalbtn {
  background-color: #fbdfc6;
  border: 1px solid #e5b386;
}
.cle-opcional {
  background-color: #fbdfc6;
  padding: 4px;
  margin: 4px;
  border: 1px solid #e5b386;
}
.menu-primero {
  margin-left: 15px;
}
.menu-boton {
  background-color: #abd2f3;
  color: #002056;
  border: 1px solid #82b9e8;
}
.text-red {
  color: #e52a3a;
}
.text-gray {
  color: #5f5f5f;
}
.text-center {
  text-align: center;
}
.ta-toolbar {
  background-color: #fff;
  margin: -5px;
  padding: 0px;
  margin-left: 0px;
  border: 1px solid #eee;
}
.ta-toolbar .btn-group {
  margin-bottom: 5px;
}
.ta-editor,
.white-box {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eee;
}
textarea.ta-bind {
  width: 100%;
}
.red {
  color: #f00;
}
.titulo {
  font-size: 19px;
}
.ejemplo {
  background-color: #f0f3f8;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #f0f3f8;
  border-radius: 15px;
  padding-left: 15px;
}
.opciones-menu {
  margin-bottom: 15px;
  margin-left: 15px;
}
.modal-texto {
  font-size: 13px;
}
.modal-boton {
  background-color: #abd2f3;
  color: #002056;
  border: 1px solid #82b9e8;
  font-size: 10px;
  padding: 5px;
}
.tooltip-inner {
  max-width: 490px;
  background-color: #abd2f3;
  color: #001539;
  width: 490px;
  font-size: 15px;
  text-align: left;
}
.tooltip-arrow {
  display: none;
}
.cabecera-sugerencias {
  background-color: #abd2f3;
color
}
.editor {
  border: 1px solid #82b9e8;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  border-radius: 3px;
  line-height: 35px;
}
.buscar {
  background-color: #fff;
  padding: 4px;
  z-index: 1050;
  overflow: visible;
}
.md-obligatorio {
  width: 700px;
}
.md-seleccion {
  max-width: 300px;
}
.md-opcional {
  max-width: 300px;
}
.saltoLinea {
  line-height: 30px;
}
.well {
  background-color: #fff;
}

.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;

  direction: ltr;
}
