<div class="ui oscuro secondary inverted labeled icon menu" ng-controller="MenuController">
  <a class="item" ng-click="inicio()" ng-class="{active: isActive('/')}">
      <i class="home yellow icon"></i>
      Inicio
  </a>
  <a class="item" ng-click="proyectos()" ng-class="{active: isActive('/proyectos')}">
      <i class="browser icon"></i>
      Proyectos
  </a>
  <div class="right menu">
    <a class="item">
      <i class="browser icon"></i>
      Iniciar Sesion
    </a>
    <a class="item">
      <i class="browser icon"></i>
      Registrarse
    </a>
  </div>
</div>
