<span ng-controller="MenuController">
<div class="ui inverted labeled icon menu oscuro" >
    <a class="item" ng-click="inicio()" ng-class="{active: isActive('/')}">
        <img class="ui middle aligned tiny image" src="../../img/konoPNG.png">
    </a>
    <a class="item" ng-click="proyectos()" ng-class="{active: isActive('/proyectos')}">
        <i class="browser icon"></i> Proyectos
    </a>
    <a class="item" ng-click="usuarios()" ng-class="{active: isActive('/usuarios')}">
        <i class="users icon"></i> Colabs
    </a>

    <div class="right menu">

        <a class="item" ng-click="modalInicio()">
            <i class="circular inverted yellow user icon" style="
    color: black !important;"></i>
          {{usuario}}
        </a>

    </div>
</div>

<!-- MODAL -->
<div class="ui basic modal modalLogin" ng-init="initModal()" >
    <div class="ui orange header loginRotando">
        <i class="huge icons">
            <i class="big loading sun icon"></i>
            <i class="small user icon"></i>
        </i>
        <div class="ui white header">
             Inicio de Sesión
        </div>
    </div>

    <div class="content">
        <div class="ui form">
            <div class="field">
                <input type="text" placeholder="Nombre de Usuario" ng-model="usuario">
            </div>
            <div class="field">
                <input type="password" placeholder="Contraseña" ng-model="password">
            </div>
        </div>
    </div>

    <div class="actions" >
        ¿Aún no tienes una cuenta?
        <div class="ui blue basic cancel inverted button">
            <i class="plus icon"></i> Registrate
        </div>
        <div class="ui red ok inverted button">
            <i class="remove icon"></i> Cancelar
        </div>
        <div class="ui green ok inverted button" ng-click="login()" >
            <i class="checkmark icon"></i> Iniciar
        </div>
    </div>
</div>
</span>
