<div class="ui items" ng-repeat="proyecto in allprojects">
    <div class="item">
        <a class="ui medium image">
            <img src="../../img/{{proyecto.image}}">
        </a>
        <div class="middle aligned content">
            <a class="header">{{proyecto.nombre}}</a>
            <div class="meta">
                <span>Añadido el {{proyecto.fecha}}</span>
            </div>
            <div class="description">
                <p>{{proyecto.descripcion}}</p>
            </div>
            <div class="extra">
                <a class="ui small label" ng-repeat="tag in proyecto.tags">{{tag || 'No hay tags'}}
                </a>
            </div>
            <div class="extra">
                <div class="ui vertical animated basic left floated button" tabindex="0">
                    <div class="visible content"><i class="comment icon"></i> {{proyecto.dudas || 'Sin'}} Dudas</div>

                    <div class="hidden content">
                        Comentar
                    </div>
                </div>
                <div class="ui vertical animated basic left floated button" tabindex="0">
                    <div class="visible content"><i class="unhide icon"></i> {{proyecto.vistas || 0}}</div>

                    <div class="hidden content">
                        Detalles
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
